/* Escribe tu css aqui */
.box {
	box-sizing: border-box;
	display: inline-block;
	height: 100px;
	width: 200px;
	margin-bottom: 10px;
	padding: 10px;
	margin-right: 15px;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}