/* Escribe tu css aqui */
.red {
	background-color: red;
	height: 70px;
	width: 200px;
	margin: 10px;
	padding: 10px;
}
div {
	background-color: yellow;
	height: 70px;
	width: 200px;
	margin: 10px;
	padding: 10px;
}

